{% extends 'base.html.twig' %}

{% block title %}Liste des abonnements{% endblock %}

{% block body %}


        <div class="align">
            <h1>Liste des abonnements </h1>
		    <a href="{{ path('app_create_abonnement') }}"><img src={{ asset('images/plus.png') }} class = "IMG_PLUS" alt="Créer un abonnement"></a>
        </div>
        {# <div class="join">
            <div class="joinDivSearch">
              <div>
                <input class="input input-bordered join-item" placeholder="Search" />
              </div>
            </div>
            <div class="indicator">
              <button class="btn join-item">Search</button>
            </div>
        </div> #}
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Organisme</th>
                    <th>Type d'abonnement</th>
                    <th>N° Client</th>
                    <th>Date souscription</th>
                    <th>Montant</th>
                    <th>Périodicité</th>
                    <th>Objet</th>
                </tr>
            </thead>
            <tbody>
                {% for a in abonnements %}
                <tr>
					<td class = "IMGS_OPERATION">
						<a href="{{ path('app_consulter_abonnement', {'idAbonnement': a.id}) }}"><img src={{ asset('images/pencil.png') }} alt="Modifier l'abonnement'"></a>
						<a href="{{ path('app_delete_abonnement', {'idAbonnement': a.id}) }}"><img src={{ asset('images/bin.png') }} alt="Supprimer l'abonnement"></a>
					</td>
                    <td>{{ a.organisme.nom }}</td>
                    <td>{{ a.TypeAbonnement.nom }}</td>
                    <td>{{ a.numeroClient }}</td>
                    <td>{{ a.dateSouscription|date('d/m/Y') }}</td>
                    <td>{{ a.montant }} €</td>
                    <td>{{ a.periodicite.libelle }}</td>
                    <td>{{ a.objet }}</td>
                </tr>
                {% else %}
                    <td>Aucun abonnement n'a été trouvé.</td>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}