{% extends 'base.html.twig' %}

{% block title %}Liste des abonnements{% endblock %}

{% block body %}


        <div class="align">
            <h1>Liste des abonnements </h1>
            <img class = "IMG_PLUS" src={{ asset('images/plus.png') }} alt="Modifier le compte">
        </div>
        <div class="join">
            <div class="joinDivSearch">
              <div>
                <input class="input input-bordered join-item" placeholder="Search" />
              </div>
            </div>
            <div class="indicator">
              <button class="btn join-item">Search</button>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Organisme</th>
                    <th>Abonnement</th>
                    <th>N° Client</th>
                    <th>Date souscription</th>
                    <th>Montant</th>
                    <th>Périodicité</th>
                    <th>Objet</th>
                </tr>
            </thead>
            <tbody>
                {% for a in abonnements %}
                <tr>
					<td><img src={{ asset('images/pencil.png') }} alt="Modifier le compte"></td>
                    <td>{{ a.organisme.nom }}</td>
                    <td>{{ a.TypeAbonnement.nom }}</td>
                    <td>{{ a.numeroClient }}</td>
                    <td>{{ a.dateSouscription|date('d/m/Y') }}</td>
                    <td>{{ a.montant }} €</td>
                    <td>{{ a.periodicite.libelle }}</td>
                    <td>{{ a.objet }}</td>
                </tr>
                {% else %}
                    <td>Aucun abonnement n'a été trouvé.</td>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}