{% extends 'base.html.twig' %}

{% block title %}Liste des contrats d'assurance{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h2>Contrats d'assurance :</h2>
        <table border="1">
            <table>
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Compagnie</th>
                    <th>Numéro client</th>
                    <th>Date de souscription</th>
                    <th>Montant</th>
                    <th>Périodicité</th>
                    <th>Couverture</th>
                </tr>
                </thead>
                <tbody>
                {% for c in contrats %}
                    <tr>
                        <td>{{ contrats.typeContrat.libelle }}</td>
                        <td>{{ contrats.compagnie.libelle }}</td>
                        <td>{{ contrats.num_client }}</td>
                        <td>{{ contrats.date_sous }}</td>
                        <td>{{ contrats.montant }}</td>
                        <td>{{ contrats.periodicite.libelle }}</td>
                        <td>{{ contrats.libelle_couverture }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}