{% extends 'base.html.twig' %}

{% block title %}Liste des contrats d'assurance{% endblock %}

{% block body %}
    
    <div>
        <h1>Contrats d'assurance :</h1>
        <table border="1">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Compagnie</th>
                    <th>Numéro client</th>
                    <th>Date de souscription</th>
                    <th>Montant</th>
                    <th>Périodicité</th>
                    <th>Couverture</th>
                </tr>
                </thead>
                <tbody>
                {% for c in contrats %}
                    <tr>
                        <td>{{ c.typeContrat.libelle }}</td>
                        <td>{{ c.compagnie.libelle }}</td>
                        <td>{{ c.numclient }}</td>
                        <td>{{ c.datesous |date('d/m/Y') }}</td>
                        <td>{{ c.montant }}</td>
                        <td>{{ c.periodicite.libelle }}</td>
                        <td>{{ c.libellecouverture }}</td>
                    </tr>
                    {% else %}
                    <td>Aucun contrat d'assurance n'a été trouvé.</td>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}