{% extends 'base.html.twig' %}

{% block title %}Liste des comptes{% endblock %}

{% block body %}

{% block stylesheets %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{% endblock %}

    <div class="align">
		<h1>Liste des comptes </h1>
		<img class = "IMG_PLUS" src={{ asset('images/plus.png') }} alt="Modifier le compte">
	</div>
	
	
    <table>
		<thead>
			<tr>
				<th></th>
				<th>Nom du compte</th>
				<th>Numéro de compte</th>
				<th>Solde</th>
			</tr>
		</thead>
		<tbody>
			{% for c in comptes %}
				<tr>
					<td><a href="{{ path('app_consulter_compte', {'idCompte': c.id}) }}"><img src={{ asset('images/pencil.png') }} alt="Modifier le compte"></a></td>
					<td>{{ c.nom }}</td>
					<td>{{ c.numero}}</td>
					<td>{{ c.solde}}€</td>
				</tr>
				{% else %}
                    <td>Aucun compte n'a été trouvé.</td>
			{% endfor %}
		</tbody>
		
	</table>
{% endblock %}
