{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block body %}
    <h1>Emprunt {{ emprunt.objet }}</h1>

        {% if modifyForm.vars.errors|length > 0 %}
            <div class="alert alert-error mb-4">
                {{ form_errors(modifyForm) }}
            </div>
        {% endif %}
    {{ form_start(modifyForm) }}
    {{ form_end(modifyForm) }}
    
    {# <h1>Opérations</h1>


    <table>
		<thead>
			<tr>
				<th></th>
				<th>Compte</th>
				<th>Montant</th>
				<th>Libelle</th>
				<th>Date</th>
			</tr>
		</thead>    
		<tbody>
			{% for o in operations %}
				<tr>
					<td><img src={{ asset('images/pencil.png') }} alt="Modifier le compte"></td>
					<td>{{ o.compte.nom }} - {{ o.compte.numero}}</td>
					<td>{{ o.montant}} €</td>
					<td>{{ o.libelle}}</td>
					<td>{{ o.date|date('d/m/Y')}}</td>
				</tr>
				{% else %}
                    <td>Aucune opération n'a été trouvé.</td>
			{% endfor %}
		</tbody>
		
	</table> #}
{% endblock %}
