{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<div class="align">
<h1>Liste des catégories </h1>
<img class = "IMG_PLUS" src={{ asset('images/plus.png') }} alt="Modifier le compte">
</div>

		 {% for c in categories %}
            {{c.libelle}}
            <table border=1>
                {%for sc in c.sousCategories %}
            <tr>
                <td class = "IMGS_OPERATION">
                    <img src={{ asset('images/pencil.png') }} alt="Modifier le compte">
                    <img src={{ asset('images/bin.png') }} alt="Modifier le compte">
                </td><td>{{sc.libelle}}</td>
                <td>{{sc.budgetAnnuel}}€</td>
                <td>{{sc.budgetMensuel}}€</td>
            </tr>
            
            {% endfor %}
            </table>
        {% endfor %}
</div>
{% endblock %}

